<h1 *ngIf="!productId else forSideEffect" class="title-1 m-4">Supported products</h1>
<ng-template #forSideEffect ><h1 class="title-1 m-4">Products causing {{sideEffect?.name | lowercase}}</h1></ng-template>
<div *ngIf="!productId" class="row justify-content-center">
	<mat-card class="col col-lg-10">
		<h2 class="title-2">Filters</h2>
		<mat-card-content class="row">
			<mat-form-field class="col col-md-6">
				<mat-label>Name</mat-label>
				<input matInput type="text" [formControl]="filterForm.controls.name">
				<button mat-button (click)="filterForm.controls.name.setValue('')"  *ngIf="filterForm.controls.name.value" matSuffix mat-icon-button>
					<mat-icon>close</mat-icon>
				</button>
			</mat-form-field>
			<mat-form-field class="col col-md-6">
				<mat-label>Active ingredient</mat-label>
				<input matInput type="text" [formControl]="filterForm.controls.activeIngredient">
				<button mat-button (click)="filterForm.controls.activeIngredient.setValue('')" *ngIf="filterForm.controls.activeIngredient.value" matSuffix mat-icon-button>
					<mat-icon>close</mat-icon>
				</button>
			</mat-form-field>
		</mat-card-content>
	</mat-card>
</div>
<div class="row justify-content-center mt-3">
	<div class="col col-lg-10 p-0">
		<div class="mat-elevation-z2">
			<table mat-table [dataSource]="dataSource">

				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef> Name</th>
					<td mat-cell *matCellDef="let product"> {{product.name}} </td>
				</ng-container>

				<ng-container matColumnDef="activeIngredient">
					<th mat-header-cell *matHeaderCellDef> Active Ingredient</th>
					<td mat-cell *matCellDef="let product"> {{product.activeIngredient}} </td>
				</ng-container>

				<ng-container matColumnDef="forms">
					<th mat-header-cell *matHeaderCellDef> Forms</th>
					<td mat-cell *matCellDef="let product"> {{product.forms}} </td>
				</ng-container>

				<ng-container matColumnDef="strength">
					<th mat-header-cell *matHeaderCellDef> Strength</th>
					<td mat-cell *matCellDef="let product"> {{product.strength}} </td>
				</ng-container>

				<ng-container matColumnDef="sideEffectButton">
					<th mat-header-cell *matHeaderCellDef></th>
					<td mat-cell *matCellDef="let product">
					<button (click)="openDetails(product.id)" mat-button color="accent">Side effects</button>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
			<mat-paginator
				[length]="page?.totalCount"
				[pageSize]="page?.pageSize"
				[pageIndex]="page?.page"
				[pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
		</div>
	</div>
</div>
