<h1 class="m-4 title-1 font-weight-bold">Be Healthy - Health Management System</h1>
<div class="m-4">
	"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
</div>

<div class="row justify-content-around">
	<div class="menu-image-container col-sm-6 col-xl-3" routerLink="/products">
		<div class="menu-image-text dark">Products</div>
		<img class="menu-image" src="./assets/home-screen-images/medicine.jpg">
	</div>
	<div class="menu-image-container col-sm-6 col-xl-3">
		<div class="menu-image-text light">Connect</div>
		<img class="menu-image" src="./assets/home-screen-images/forum.jpg">
	</div>
	<div class="menu-image-container col-sm-6 col-xl-3">
		<div class="menu-image-text light">Pollen info</div>
		<img class="menu-image" src="./assets/home-screen-images/allergies.jpg">
	</div>
	<div class="menu-image-container col-sm-6 col-xl-3">
		<div class="menu-image-text light">Symptoms</div>
		<img class="menu-image" src="./assets/home-screen-images/symptoms.jpg">
	</div>
</div>
